---
name: Lint

# FIXME(willkg): switch this to pull_request_target
on: [pull_request]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2.3.5

      - uses: actions/setup-python@v2.2.2
        with:
          python-version: 3.9

      - name: Update pip and install dev requirements
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements-dev.txt

      - name: Lint
        run: |
          black --check src/
          ruff src/release.py
